<div class="character-index__body">


<div class="container">
<ul class="character-index__list">
{{#each characters}}<li class="character-index__list-item"><a href="/{{kebabCase name}}">{{name}}</a></li>{{/each}}
</ul>
</div>
</div>
